/** LANDSCAPE QUERIES **/

/** IPHONE LANDSCAPE **/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
	.header-button {
		margin-top: 150px;
		margin-left: 140px;
	}
}


/** IPAD  **/
@media only screen 
and (min-device-width : 1024px)  { 
	html, body {
		font-size: 1em;
	}
	#home {
		text-align: center;
	}
	.header-button {
		margin-top: -200px;
		margin-left: -100px;
	}
	#about {
		text-align: center;
	}

	#skills [class="col-skills"] {
		width: 100%;
	}
	#skills h1 {
		text-align: center;
	}
	.glow-button {
		height: 6.4rem;
	}
}