/** LANDSCAPE QUERIES **/

/** IPHONE LANDSCAPE **/

@media only screen 
and (min-device-width : 375px)  
and (orientation : landscape) { 
	.header-button {
		margin-top: 150px;
		margin-left: 190px;
			}
}

/** IPHONE PLUS LANDSCAPE **/

@media only screen 
and (min-device-width : 414px)  
and (orientation : landscape) { 
		.header-button {
		margin-top: 150px;
		margin-left: 190px;
			}
}

/** IPAD **/
@media only screen 
and (min-device-width : 768px) 
 { 
	#header-logo {
		margin-top: -100px;
	}
	.header-button {
		margin-top: 150px;
		margin-left: 190px;
	}

}

/** IPAD PRO **/
@media only screen 
and (min-device-width : 1024px)  { 
	#header-logo {
		margin-top: -100px;
	}
	.header-button {
		margin-top: 150px;
		margin-left: 190px;
	}

}